<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>$Title$</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/bootstrap413/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/datatables/css/dataTables.bootstrap4.css}"/>

    <style>
        .header-panel {
            background-color: #046056;
            height: 80px;
            width: 100%;
        }

        .greenButton {
            background-color: #046056;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            border-color: unset;
            height: 35px;
        }

        .redButton {
            background-color: #ff0000;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            border-color: unset;
            height: 35px;
        }

        .greyButton {
            background-color: #555555;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            border-color: unset;
            height: 35px;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;background-image: radial-gradient(#0c5460,#e0e0e0)">

<!--HEADER-->

<div class="header-panel">
    <div class="row" style="height: 80px;margin: 0;padding: 0;">
        <div class="col-2" style="height: 80px;margin: 0;padding: 0;">
            <img src="/image/logo_web6.jpg" alt=""
                 style="height: 60px; width: 60px; margin: 10px;display: inline;border-radius: 5px;border: black solid 1px;padding: 0;">
            <p style="line-height: 80px;text-align: left;width: 70%;display: inline;font-size: 20px;color: white">
                <b>FURAMA CONTROLLER</b>
            </p>
        </div>
        <div class="col-6"></div>
        <div class="col-2">
            <center>
                <a sec:authorize="isAuthenticated()"  href="" style="color: white; text-decoration: none">
                    <p style="line-height: 80px;text-align: left;width: 70%;display: inline;font-size: 20px;color: white">
                        Account: <span sec:authentication="principal.username"></span>
                </a>
            </center>
        </div>
        <div  class="col-1" style="">
            <center>
                <button sec:authorize="isAuthenticated()" style="margin-top: 20px" class="redButton"><a style="color: white;text-decoration: none" th:href="@{/logout}">Logout</a></button>
            </center>
        </div>
        <div class="col-1">
            <center>
                <button sec:authorize="!isAuthenticated()" style="margin-top: 20px" class="redButton"><a style="color: white;text-decoration: none" th:href="@{/myLogin}">Login</a></button>
            </center>
        </div>
    </div>
</div>

<!--MENU-->

<nav class="navbar navbar-expand-lg navbar-light bg-light" ; style="background-color: #046056">
    <a class="navbar-brand" th:href="@{/}">Home</a>

    <a class="navbar-brand" th:href="@{/customer/list}">Customer</a>

    <a class="navbar-brand" th:href="@{/employee/list}">Employee</a>

    <a class="navbar-brand" th:href="@{/service/list}">Service</a>

    <a class="navbar-brand" th:href="@{/contract/list}">Contract</a>
</nav>

<!--START BODY WEB-->

<!--START FORM ADD NEW-->

<form th:action="@{/customer/update}" th:object="${customer}" method="POST" novalidate="novalidate"
      style="width: 50%; margin: auto; margin-top: 100px;margin-bottom: 100px; background-color: white;padding: 20px;border-radius: 10px">
    <h3 style="text-align: center;font-family: 'Arial Black',serif;">EDIT CUSTOMER</h3>

    <div class="form-group">
        <label for="customerId">Customer Id</label>
        <p style="color: red" th:if="${#fields.hasErrors('customerId')}" th:errors="*{customerId}"></p>
        <input type="text" class="form-control" id="customerId" th:field="*{customerId}"/>
    </div>

    <div class="form-group">
        <label for="customerName">Customer Name</label>
        <p style="color: red" th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"></p>
        <input type="text" class="form-control" id="customerName" th:field="*{customerName}"/>
    </div>



    <div class="form-group">
        <label for="customerBirthDay">Customer Birthday</label>
        <p style="color: red" th:if="${#fields.hasErrors('customerBirthDay')}" th:errors="*{customerBirthDay}"></p>
        <input type="date" class="form-control" id="customerBirthDay" th:field="*{customerBirthDay}"/>
    </div>

    <div class="form-group">
        <label for="customerGender">Customer Gender</label>
        <p style="color: red" th:if="${#fields.hasErrors('customerGender')}" th:errors="*{customerGender}"></p>
        <select id="customerGender" th:field="*{customerGender}">
            <option value="0">Nam</option>
            <option value="1">Nữ</option>
        </select>
        <!--        <input type="text" class="form-control" id="customerGender" th:field="*{customerGender}"/>-->
    </div>

    <div class="form-group">
        <label for="customerType">Customer Type</label>
        <p style="color: red" th:if="${#fields.hasErrors('customerType')}" th:errors="*{customerType}"></p>
        <select id="customerType" th:field="*{customerType}">
            <option  th:each="customerType,rowStat : ${listCustomerType}" th:value="${customerType.customerTypeId}" th:text="${customerType.customerTypeName}">Nam</option>
        </select>
    </div>


    <div class="form-group">
        <label for="customerIdCard">Customer Id Card Number</label>
        <p style="color: red" th:if="${#fields.hasErrors('customerIdCard')}" th:errors="*{customerIdCard}"></p>
        <input type="text" class="form-control" id="customerIdCard" th:field="*{customerIdCard}"/>
    </div>

    <div class="form-group">
        <label for="customerPhone">Customer Phone Number</label>
        <p style="color: red" th:if="${#fields.hasErrors('customerPhone')}" th:errors="*{customerPhone}"></p>
        <input type="text" class="form-control" id="customerPhone" th:field="*{customerPhone}"/>
    </div>

    <div class="form-group">
        <label for="customerPhone">Customer Email</label>
        <p style="color: red" th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}"></p>
        <input type="text" class="form-control" id="customerEmail" th:field="*{customerEmail}"/>
    </div>

    <div class="form-group">
        <label for="customerAddress">Customer Address</label>
        <p style="color: red" th:if="${#fields.hasErrors('customerAddress')}" th:errors="*{customerAddress}"></p>
        <input type="text" class="form-control" id="customerAddress" th:field="*{customerAddress}"/>
    </div>

    <div class="form-group">
        <label for="statusDelete">Customer Status</label>
        <p style="color: red" th:if="${#fields.hasErrors('statusDelete')}" th:errors="*{statusDelete}"></p>
        <input readonly type="text" class="form-control" id="statusDelete" th:field="*{statusDelete}"/>
    </div>

    <span><button class="greenButton" type="submit">Save</button></span>
    <span><button class="greyButton"><a style="color: white;text-decoration: none;" th:href="@{/customer/list(page = 0,name = '')}" role="button">Back to customer list</a></button></span>
</form>

<!--END FORM ADD NEW-->

<!--END BODY WEB-->

</body>


<!--WEB RESOURCES-->
<script src="/jquery/jquery-3.5.1.min.js"></script>
<script src="/datatables/js/jquery.dataTables.js"></script>
<script src="/datatables/js/dataTables.bootstrap4.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="/bootstrap413/js/bootstrap.bundle.js"></script>

</html>