<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Information</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12"></div>
        <form method="post" th:object="${customer}">
            <fieldset>
                <h1 style="text-align: center">Customer Information</h1>
                <div class="mb-3">
                    <label class="form-label">NAME</label>
                    <input type="text" style="font-size: 25px" class="form-control" th:field="*{fullName}" placeholder="input name">
                </div>
                <div class="mb-3">
                    <label class="form-label">EMAIL</label>
                    <input type="text" style="font-size: 25px" class="form-control" th:field="*{email}" placeholder="input email">
                </div>
                <div class="mb-3">
                    <label class="form-label">PHONE</label>
                    <input type="text" style="font-size: 25px" class="form-control" th:field="*{phone}" placeholder="input phone">
                </div>
                <div class="mb-3">
                    <label class="form-label">ADDRESS</label>
                    <input type="text" style="font-size: 25px" class="form-control" th:field="*{address}" placeholder="input address">
                </div>
<!--                <table class="tab-content">-->
<!--                    <tr>-->
<!--                        <td>Name</td>-->
<!--                        <td>-->
<!--                            <input type="text" th:field="*{fullName}">-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Email</td>-->
<!--                        <td>-->
<!--                            <input type="text" th:field="*{email}">-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Phone</td>-->
<!--                        <td>-->
<!--                            <input type="text" th:field="*{phone}">-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Address</td>-->
<!--                        <td>-->
<!--                            <input type="text" th:field="*{address}">-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                </table>-->
                <div><input type="submit" class="btn btn-success" value="Create">
                    <div class="btn-group">
                        <a href="/customers" class="btn btn-primary">
                            <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> Back
                        </a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>