<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete customer</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
</head>
<body>
<h1 style="text-align: center">Delete Customer</h1>


<div class="container">
    <div class="row">
        <div class="col-sm-12"></div>
        <form  method="post" th:object="${customer}">
            <input th:type="hidden" name="id" th:field="*{id}">
            <div class="mb-3">
                <label class="form-label">NAME</label>
                <input type="text" style="font-size: 25px" class="form-control" th:field="*{fullName}"
                       placeholder="input name">
            </div>
            <div class="mb-3">
                <label class="form-label">EMAIL</label>
                <input type="text" style="font-size: 25px" class="form-control" th:field="*{email}"
                       placeholder="input email">
            </div>
            <div class="mb-3">
                <label class="form-label">PHONE</label>
                <input type="text" style="font-size: 25px" class="form-control" th:field="*{phone}"
                       placeholder="input phone">
            </div>
            <div class="mb-3">
                <label class="form-label">ADDRESS</label>
                <input type="text" style="font-size: 25px" class="form-control" th:field="*{address}"
                       placeholder="input address">
            </div>
            <div class="col-sm-4">
                <button class="btn btn-danger" type="submit" value="Delete customer">Delete Customer</button>
                <div class="btn-group">
                    <a href="/customers" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> Back to customer list
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>