<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
</head>
<body>
<h3>View Customer</h3>
<div id="detail">
    <form class="form-check-inline" method="post" th:object="${customer}">
        <input th:type="hidden" name="id" th:field="*{id}">
        <div class="mb-3">
            <label class="form-label">NAME</label>
            <input readonly type="text" style="font-size: 25px" class="form-control" th:field="*{fullName}"
                   placeholder="input name">
        </div>
        <div class="mb-3">
            <label class="form-label">EMAIL</label>
            <input readonly type="text" style="font-size: 25px" class="form-control" th:field="*{email}"
                   placeholder="input email">
        </div>
        <div class="mb-3">
            <label class="form-label">PHONE</label>
            <input readonly type="text" style="font-size: 25px" class="form-control" th:field="*{phone}"
                   placeholder="input phone">
        </div>
        <div class="mb-3">
            <label class="form-label">ADDRESS</label>
            <input readonly type="text" style="font-size: 25px" class="form-control" th:field="*{address}"
                   placeholder="input address">
        </div>
        <div class="btn-group">
            <a href="/customers" class="btn btn-primary">
                <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> Back to customer list
            </a>
        </div>

    </form>
</div>
</body>
</html>